@model List<SafetySesh.Web.Data.SafetyDiscussion>
@{
    ViewBag.Title = "Discussions";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <tr>
        <th>Observer</th>
        <th>Collegue</th>
        <th>Date</th>
        <th>Location</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Observer</td>
            <td>@item.Collegue</td>
            <td>@(item.Date?.ToShortDateString() ?? "")</td>
            <td>@item.Location</td>
            <td>
                <a href="~/SafetyDiscussion/View/@item.Id" class="btn btn-sm btn-default">View</a>
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Add Discussion", "Add", "SafetyDiscussion", new { @class = "btn btn-primary" })